.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  position: relative;
  padding-top: 37px;
}
.main-header__inner {
  display: flex;
}
.main-header__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header__nav li {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  margin-left: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header__nav li a {
  color: #83888f;
}
.main-header__nav li a:hover {
  color: #333d4b;
}

* {
  box-sizing: border-box;
}

.section {
  padding: 50px 0;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
  font-family: "Barlow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1 {
  margin: 0;
}

li {
  list-style-type: none;
}

span {
  display: inline-block;
}

.btn {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 31px;
  color: #fefcf7;
  background-color: #0e8784;
  border-radius: 6px;
  transition: 0.3s ease;
}
.btn:hover {
  background-color: #66d2cf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card {
  width: 23%;
  margin: 0 10px;
}
.card > img {
  width: 250px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1200px) {
  .card {
    width: 100%;
    display: flex;
  }
}
@media (max-width: 768px) {
  .card {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
  }
}
.card__title {
  margin: 0 auto;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
@media (max-width: 1200px) {
  .card__title {
    margin-top: 30px;
    text-align: start;
  }
}
@media (max-width: 768px) {
  .card__title {
    text-align: center;
  }
}
.card__subtitle {
  margin: 0 auto;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 0;
  line-height: 26px;
  color: #333d4b;
}
@media (max-width: 1200px) {
  .card__subtitle {
    width: 282px;
    text-align: start;
  }
}

.card__content {
  margin-left: 35px;
}
@media (min-width: 1200px) {
  .card__content {
    text-align: center;
    margin-top: 71px;
    margin-left: 0;
  }
}

.choose-coffee {
  display: flex;
}
.choose-coffee__form {
  margin-left: auto;
}
.choose-coffee__form h2 {
  font-family: "Fraunces";
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
}
.choose-coffee__sticky {
  display: flex;
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.choose-coffee__sticky ul li:nth-child(1):before {
  content: "01";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.choose-coffee__sticky ul li:nth-child(3):before {
  content: "02";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.choose-coffee__sticky ul li:nth-child(5):before {
  content: "03";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.choose-coffee__sticky ul li:nth-child(7):before {
  content: "04";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.choose-coffee__sticky ul li:nth-child(9):before {
  content: "05";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 32px;
}
.choose-coffee__sticky ul a {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
.choose-coffee__line {
  margin: 24px 0;
  width: 255px;
  height: 1px;
  background-color: #83888f;
}
.choose-coffee__fist {
  display: flex;
  gap: 20px;
}
.choose-coffee__fist input[type=radio]:checked + .choose-coffee__label {
  background-color: #0e8784;
  color: #f4f1eb;
}
.choose-coffee__fist input[type=radio]:checked + .choose-coffee__label p {
  color: #f4f1eb;
}
.choose-coffee__label {
  display: block;
  max-width: 230px;
  cursor: pointer;
  background-color: #f4f1eb;
  border: 1px solid #f4f1eb;
  border-radius: 8px;
  padding: 32px 28px 84px 24px;
  transition: 0.3s ease;
}
.choose-coffee__label h4 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
}
.choose-coffee__label p {
  color: #333d4b;
  margin: 0;
}
.choose-coffee__label:hover {
  background-color: #fdd6ba;
}
.choose-coffee__content {
  background-color: #2c343e;
  width: 730px;
  height: 208px;
  padding: 27px 64px;
}
.choose-coffee__content h4 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.5;
}
.choose-coffee__content p {
  margin: 0;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
.choose-coffee__content p span {
  color: #0e8784;
}
.choose-coffee__btn-wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: end;
}

.choose-coffee__header {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 45px 85px;
  background-color: #2c343e;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
  }
}
.footer__nav {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .footer__nav {
    margin-left: 103px;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
  }
}
.footer__nav li {
  text-transform: uppercase;
  font-style: normal;
  font-family: "Barlow";
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin: 0 15px;
}
@media (max-width: 768px) {
  .footer__nav li {
    margin-bottom: 24px;
  }
}
.footer__nav li a {
  color: #83888f;
}
.footer__nav li a:hover {
  color: #fefcf7;
}
@media (min-width: 1200px) {
  .footer__content {
    margin-left: auto;
  }
}
.footer__content img {
  margin-left: 24px;
}
.footer__content img:hover {
  background-color: #fdd6ba;
}

@media (max-width: 1200px) {
  .footer-logo {
    margin-bottom: 20px;
  }
}

.holder {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .holder {
    flex-direction: column;
    align-items: center;
  }
}
.holder__inner {
  width: 90%;
  padding: 48px;
  padding-top: 72px;
  background-color: #0e8784;
  text-align: center;
  border-radius: 8px;
  margin: 15px;
}
@media (max-width: 1200px) {
  .holder__inner {
    padding: 41px 48px;
    padding-left: 70.5px;
    max-width: 573px;
    display: flex;
    text-align: center;
    margin: 12px;
  }
}
@media (min-width: 1200px) {
  .holder__inner {
    max-width: 350px;
  }
}
.holder__title {
  margin-top: 56px;
  margin-bottom: 24px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
}
@media (max-width: 1200px) {
  .holder__title {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 16xp;
    text-align: start;
  }
}
@media (max-width: 1200px) {
  .holder__img {
    width: 56px;
    height: 56px;
    transform: translateY(50%);
    margin-right: 55.5px;
  }
}
.holder__subtitle {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}
@media (max-width: 1200px) {
  .holder__subtitle {
    font-size: 15px;
    line-height: 25px;
    text-align: start;
  }
}

.header-section {
  padding: 117px 85px;
  background-color: #a2a2a2;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .header-section {
    padding: 104px 54px;
  }
  .header-section * {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .header-section {
    text-align: center;
  }
}
.header-section .header-section__title {
  margin: 0;
  color: #fefcf7;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 1200px) {
  .header-section .header-section__title {
    padding-right: 69px;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .header-section .header-section__title {
    padding-right: 69px;
    font-size: 40px;
    line-height: 40px;
  }
}
.header-section .header-section__title .header-section--size {
  font-size: 40px;
  line-height: 48px;
}
.header-section__content {
  margin-bottom: 56px;
  margin-top: 32px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .header-section__content {
    margin-top: 24px;
    margin-bottom: 40px;
    size: 15px;
    line-height: 25px;
  }
}
.header-section--bg-subsribe {
  background-image: url("../img/subscribe-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-section--bg-home {
  background-image: url("../img/bg-img-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1200px) {
  .header-section--bg-home {
    background-position: center;
  }
}
.header-section-wrapper {
  margin-bottom: 77px;
}
.header-section--bg-about-us {
  background-image: url("../../img/about-us-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 450px;
}

@media (min-width: 768px) {
  .header-section__wrapper {
    max-width: 500px;
  }
}

.our-collection {
  position: relative;
  padding-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 126px;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .our-collection {
    flex-direction: column;
  }
}
.our-collection__header {
  margin: 0 auto;
  margin: 0;
  text-align: center;
  color: #83888f;
  font-size: 150px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0001));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line-oval {
  display: flex;
  max-width: 665px;
  justify-content: center;
  align-items: center;
  margin-bottom: 82px;
}
@media (max-width: 768px) {
  .line-oval {
    display: none;
  }
}
.line-oval--subscribe {
  margin-bottom: 82px;
}
.line-oval--subscribe .oval--subscribe {
  background-color: transparent;
  border-color: #0e8784;
}
.line-oval--subscribe .line--subscribe {
  width: 349px;
}

.oval {
  background: #fefcf7;
  border: 2px solid #0e8784;
  background-color: #fefcf7;
  display: inline-block;
  padding: 14px;
  border-radius: 50%;
}

.line {
  height: 1px;
  width: 349px;
  background-color: #fdd6ba;
}

@media (max-width: 1200px) {
  .how-it-works {
    padding: 0;
  }
}
.how-it-works__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.how-it-works__number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.how-it-works__inner {
  display: flex;
}
@media (max-width: 768px) {
  .how-it-works__inner {
    flex-direction: column;
  }
}
.how-it-works__caption {
  width: 255px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.how-it-works__caption--color {
  color: #fefcf7;
}
.how-it-works__subtitle {
  max-width: 285px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.how-it-works__subtitle--color {
  color: #fefcf7;
}
.how-it-works a {
  margin-top: 79px;
}
.how-it-works-bg {
  padding: 107px 85px;
  background-color: #2c343e;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .how-it-works__holder {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .how-it-works__holder {
    text-align: center;
    margin-bottom: 56px;
  }
  .how-it-works__holder * {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .how-it-works__btn-wrapper {
    display: flex;
    justify-content: center;
  }
}

.why-choose-us {
  position: relative;
}
.why-choose-us::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 580px;
  background: #333d4b;
  border-radius: 10px;
  z-index: -1;
}
.why-choose-us__inner {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 80px;
}
.why-choose-us__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.why-choose-us__subtitle {
  width: 400px;
  margin: 0 auto;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  opacity: 0.8;
  margin-bottom: 86px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.commitment {
  margin-top: 68px;
}
.commitment__box {
  display: flex;
}
.commitment__box-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.commitment__box--bg-color {
  position: relative;
  width: 100%;
  height: 473px;
  background-color: #2c343e;
  border-radius: 10px;
}
.commitment__content {
  margin-left: auto;
  padding-top: 90px;
  max-width: 540px;
}
.commitment__content--wrapper {
  padding-top: 88px;
  margin-left: 85px;
  margin-right: auto;
}
.commitment__content .commitment__caption {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}
.commitment__content .commitment__caption--color {
  color: #fefcf7;
}
.commitment__content .commitment__subtitle {
  color: #333d4b;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
}
.commitment__content .commitment__subtitle--color {
  color: #fefcf7;
}
.commitment__img--position {
  position: absolute;
  top: -76px;
}

.headquarter__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 125px;
}
.headquarter__header {
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  padding-bottom: 72px;
}
.headquarter__caption {
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-top: 46px;
  margin-bottom: 24px;
}
.headquarter__subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */