.card {
  width: 23%;
  margin: 0 10px;

  & > img {
    width: 250px;
    height: 200px;
    object-fit: contain;
  }

  @media (max-width: $desktop) {
    width: 100%;
    display: flex;
  }

  @media (max-width: $tablet) {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
  }

  &__title {
    margin: 0 auto;

    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: $color-dark-grey-blue;

    @media (max-width: $desktop) {
      margin-top: 30px;
      text-align: start;
    }

    @media (max-width: $tablet) {
      text-align: center;
    }
  }
  &__subtitle {
    margin: 0 auto;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 0;
    line-height: 26px;
    color: $color-dark-grey-blue;

    @media (max-width: $desktop) {
      width: 282px;
      text-align: start;
    }
  }
}

.card__content {
  margin-left: 35px;
  @media (min-width: $desktop) {
    text-align: center;
    margin-top: 71px;
    margin-left: 0;
  }
}