.choose-coffee {
  display: flex;

  &__form {
    margin-left: auto;

    h2 {
      font-family: "Fraunces";
      font-size: 40px;
      line-height: 48px;
      color: $color-gray;
    }
  }

  &__sticky {
    display: flex;
    height: 500px;
    position: sticky;
    top: 30px;

    ul {
      li {
        &:nth-child(1):before {
          content: "01";
          margin-right: 23px;
          color: $color-gray;
          font-family: "Fraunces";
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
        }

        &:nth-child(3):before {
          content: "02";
          margin-right: 23px;
          color: $color-gray;
          font-family: "Fraunces";
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
        }
        &:nth-child(5):before {
          content: "03";
          margin-right: 23px;
          color: $color-gray;
          font-family: "Fraunces";
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
        }
        &:nth-child(7):before {
          content: "04";
          margin-right: 23px;
          color: $color-gray;
          font-family: "Fraunces";
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
        }
        &:nth-child(9):before {
          content: "05";
          margin-right: 23px;
          color: $color-gray;
          font-family: "Fraunces";
          font-style: normal;
          font-weight: 900;
          font-size: 25px;
          line-height: 32px;
        }
      }
      a {
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: $color-dark-grey-blue;
      }
    }
  }
  &__line {
    margin: 24px 0;
    width: 255px;
    height: 1px;
    background-color: $color-gray;
  }

  &__fist {
    display: flex;
    gap: 20px;

    & {
      input[type="radio"]:checked {
        & + .choose-coffee__label {
          background-color: $color-dark-cyan;
          color: #f4f1eb;

          p {
            color: #f4f1eb;
          }
        }
      }
    }
  }

  &__label {
    display: block;
    max-width: 230px;
    cursor: pointer;
    background-color: #f4f1eb;
    border: 1px solid #f4f1eb;
    border-radius: 8px;
    padding: 32px 28px 84px 24px;
    transition: 0.3s ease;

    h4 {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 24px;
    }

    p {
      color: $color-dark-grey-blue;
      margin: 0;
    }
    &:hover {
      background-color: $color-pale-orange;
    }
  }

  &__content {
    background-color: #2c343e;
    width: 730px;
    height: 208px;
    padding: 27px 64px;

    h4 {
      margin-top: 0;
      margin-bottom: 8px;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #fff;
      opacity: 0.5;
    }

    p {
      margin: 0;
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: #fff;

      span {
        color: $color-dark-cyan;
      }
    }
  }

  &__btn-wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: end;
  }
}

.choose-coffee__header {
  display: flex;
  justify-content: space-between;
}