* {
  box-sizing: border-box;
}
.section {
  padding: 50px 0;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
  font-family: "Barlow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1 {
  margin: 0;
}

li {
  list-style-type: none;
}

span {
  display: inline-block;
}

.btn {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 31px;
  color: $bg-color;
  background-color: $color-dark-cyan;
  border-radius: 6px;
  transition: 0.3s ease;

  &:hover {
    background-color: #66d2cf;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}