.line-oval {
  display: flex;
  max-width: 665px;
  justify-content: center;
  align-items: center;
  margin-bottom: 82px;

  @media (max-width: $tablet) {
    display: none;
  }

  &--subscribe {
    margin-bottom: 82px;

    .oval--subscribe {
      background-color: transparent;
      border-color: $color-dark-cyan;
    }

    .line--subscribe {
      width: 349px;
    }
  }
}

.oval {
  background: $bg-color;
  border: 2px solid $color-dark-cyan;
  background-color: $bg-color;
  display: inline-block;
  padding: 14px;
  border-radius: 50%;
}

.line {
  height: 1px;
  width: 349px;
  background-color: $color-pale-orange;
}

.how-it-works {
  @media (max-width: $desktop) {
    padding: 0;
  }

  &__title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: $color-gray;
  }

  &__number {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: $color-pale-orange;
  }

  &__inner {
    display: flex;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__caption {
    width: 255px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: $color-dark-grey-blue;

    &--color {
      color: $bg-color;
    }
  }

  &__subtitle {
    max-width: 285px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color-dark-grey-blue;

    &--color {
      color: $bg-color;
    }
  }

  a {
    margin-top: 79px;
  }

  &-bg {
    padding: 107px 85px;
    background-color: #2c343e;
    border-radius: 10px;
  }
}

.how-it-works__holder {
  @media (min-width: $tablet) {
    margin-right: 20px;
  }

  @media (max-width: $tablet) {
    text-align: center;
    margin-bottom: 56px;

    * {
      width: 100%;
      max-width: 100%;
    }
  }
}

.how-it-works__btn-wrapper {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}