.our-collection {
  position: relative;
  padding-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 126px;
  flex-wrap: wrap;

  @media (max-width: $desktop) {
    flex-direction: column;
  }

  &__header {
    margin: 0 auto;
    margin: 0;
    text-align: center;
    color: $color-gray;
    font-size: 150px;
    background-image: linear-gradient(
      180deg,
      rgba($color: black, $alpha: 0.3),
      rgba($color: black, $alpha: 0.0001)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}